/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.hidden {
    display: none;
}

.active {
    display: inline-block;
}

.form-container {
    position: relative;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(192,192,192,0.3);
    z-index: 999;
    pointer-events: auto;
}

.custom-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 8px solid;
    border-color: #E4E4ED;
    border-right-color: #064367;
    animation: s2 1s infinite linear;
    pointer-events: none;
}

@keyframes s2 {
    0% {
        transform: translate(-50%, -50%) rotate(0turn);
    }
    100% {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}

.ui-widget-header {
    background-color: #00a6ff;
}

.ui-datepicker .ui-datepicker-title {
    color: #ffffff;
}

.ui-datepicker {
    border: 1px solid #555;
}

.reviewInfoContainer {
    width:600px;
    text-align:center;
}

.reviewInfoContainer {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #e3e3e3;
}

.reviewInfoContainer h5 {
    font-weight: bold;
}

.reviewInfoContainer h6 {
    text-align:left;
    margin: 10px 0 10px 0;
}

.reviewInfoContainer p {
    margin: 0;
    text-align:left;
}

.reviewInfoSubContainer {
    padding: 15px;
    border-radius: 7px;
    border: 0.5px solid #000;
}

.entryContainer {
    padding: 10px !important;
}

